<configuration>
  <!-- 注册log4net -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <!--RollingFileAppender将日志以回滚文件的形式写到文件中-->
      <param name="file" value="log//SysLog.txt" />
      <!--输出日志文件的路径-->
      <param name="MaxSizeRollBackups" value="7" />
      <param name="MaximumFileSize" value="100KB"/>
      <!--日志最大个数-->
      <!--True/false，默认为true。为true时，RollingStyler的date值将无效。且为true时，需要在file里指定文件名，所有日志都会记录在这个文件里。-->
      <param name="staticLogFileName" value="false" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="appendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%n-------------------------%n时间:%date%n类型:%-5level%n信息:%n%m%n----------------------" />
      </layout>
    </appender>
    <logger name="FileLog.Logging">
       <level value="ALL"/>
       <appender-ref ref="RollingFile"/>
    </logger>
</log4net>
</configuration>