<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral" requirePermission="true" />
	</configSections>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>
	<dataConfiguration defaultDatabase="MirthTestBusiness"/>
	<connectionStrings>
        <!--Mirth测试数据库连接串-->
		<add name="MirthTestBusiness" connectionString="Database='mirth_business_testdb';Data Source='127.0.0.1';port='3306';User Id='root';Password='125353Ct';charset='utf8'; Allow User Variables='True'" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
		<authentication mode="Windows"/>
		<!-- 设定传参乱码问题 -->
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--支持的协议，默认不支持GET模式，因为网络爬虫-->
		<webServices>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
		<!--4.0下对输入参数的验证太严格，不符合我们定义的参数结构-->
		<httpRuntime requestValidationMode="2.0" />
	</system.web>
	<!--跨域可访问配置-->
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
				<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<!--NET4.0或3.5中的默认代理是开启的;这里关闭代理-->
	<system.net>
		<defaultProxy enabled="false" useDefaultCredentials="false" >
			<proxy/>
			<bypasslist/>
			<module/>
		</defaultProxy>
	</system.net>
</configuration>
